
@{
    ViewBag.Title = "Index";
}




<!-- Servicios section -->
<section id="work">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <div class="section-title">
                    @*<strong>01</strong>*@
                    <h1 class="heading bold">SERVICIOS</h1>
                    <hr>
                </div>
            </div>
            <div class="card col-lg-4 col-md-4 col-sm-4 wow fadeInUp">
                <div class="card-header">
                    <h3>COBRANZAS</h3>
                </div>
                <div class="card body">
                    <p>Realizamos las gestiones de cobros de operaciones, tanto de mora temprana como de mora tardia.</p><br />
                    <p>Ademas ofrecemos la posibilidad de compras de carteras.</p>
                </div>
            </div>
            <div class="card col-lg-4 col-md-4 col-sm-4 wow fadeInUp">
                <div class="card-header">
                    <h3>CORREDORES DE SEGUROS</h3>
                </div>
                <div class="card body">
                    <p>
                        Somos una corredora lider que ofrece asesoramiento para la gestion y administracion de riesgos,
                        brindando a nuestros clientes soluciones oportunas a sus necesidades y acompañandolos a su crecimiento.
                    </p>
                    <br /><br />
                </div>
            </div>
            <div class="card col-lg-4 col-md-4 col-sm-4 wow fadeInUp">
                <div class="card-header">
                    <h3>INMUEBLES</h3>
                </div>
                <div class="card body">
                    <p>Breve descripción</p>
                    <br /><br /><br /><br /><br /><br /><br /><br /><br />
                </div>
            </div>
            <div class="card col-lg-4 col-md-4 col-sm-4 wow fadeInUp">
                <div class="card-header">
                    <h3>TERCERIZACION DE NÓMINAS</h3>
                </div>
                <div class="card body">
                    <p>Breve descripción</p>
                    <br /><br /><br /><br /><br /><br />
                </div>
            </div>
            <div class="card col-lg-4 col-md-4 col-sm-4 wow fadeInUp">
                <div class="card-header">
                    <h3>BUSQUEDA DE SELECCIÓN</h3>
                </div>
                <div class="card body">
                    <p>Breve descripción</p>
                    <br /><br /><br /><br /><br /><br />
                </div>
            </div>
            @*<div class="col-lg-4 col-md-4 col-sm-4 wow fadeInUp" data-wow-delay="1s">
            <i class="icon-browser medium-icon"></i>
            <h3>RESPONSIVE LAYOUT</h3>
            <hr>
            <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteu sunt in culpa qui officia.</p>
        </div>*@
        </div>
    </div>
</section>

<!-- Sobre Nosotros section -->
<section id="about">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 text-center">
                <div class="section-title">
                    @*<strong>02</strong>*@
                    <h1 class="heading bold">SOBRE NOSOTROS</h1>
                    <hr>
                </div>
            </div>
            <div class="col-md-6 col-sm-12">
                <img src="~/images/about-img.jpg" class="img-responsive" alt="about img">
            </div>
            <div class="col-md-6 col-sm-12">
                <h3 class="bold">NEGOCIOS Y SERVICIOS S.A.</h3>
                <p class="">Somos una empresa sólida y solvente del grupo empresarial del <strong>BANCO CONTINENTAL</strong>
                , nuestro rubro principal es la cobranza, contamos con carteras de alguanas entidades financieras tales como:
                <strong>BANCO CONTINENTAL, BANCO RIO, CEFISA Y GNB</strong></p>
                <!-- Nav tabs -->
                <ul class="nav nav-tabs" role="tablist">
                    <li class="active"><a href="#design" aria-controls="design" role="tab" data-toggle="tab">MISION</a></li>
                    <li><a href="#mobile" aria-controls="mobile" role="tab" data-toggle="tab">VISION</a></li>
                    <li><a href="#social" aria-controls="social" role="tab" data-toggle="tab">VALORES</a></li>
                </ul>
                <!-- tab panes -->
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active" id="design">
                        <p>Ser una empresa lider en servicios de cobranzas con un alto nivel de eficiencia y profesionalismo,
                        destacandonos en la agilidad, flexibilidad, tecnologia de punta y recursos humanos altamente profesionales,
                        marcando la diferencia por la excelente atención y trato personalizado, cordial y amable</p>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="mobile">
                        <p>Ser reconocidos como los lideres en el sector de Recuperacion de Activos por la excelencia y calidad en nuestros servicios,
                        la atención ágil con respuestas efectivas y con el compromiso permanente de ayudar a nuestra comunidad.</p>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="social">
                        <ul>
                            <li>Honestida y Respeto</li>
                            <li>Soluciones Oportunas</li>
                            <li>Integridad y Profesionalismo</li>
                            <li>Autogestion y Eficiencia</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Equipo section -->
<section id="team">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <div class="section-title">
                    @*<strong>03</strong>*@
                    <h1 class="heading bold">EQUIPO</h1>
                    <hr>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 wow fadeIn" data-wow-delay="0.9s">
                <div class="team-wrapper">
                    <img src="~/fotos/gerente.jpg" class="img-responsive" alt="team img" width="250">
                    <div class="team-des">
                        <h4>Cristian Caballero</h4>
                        <h3>Gerente General</h3>
                        <ul class="social-icon">
                            <li><a href="mailto:cristtiancaballero@negoservi.com.py?Subject=Buenas%20Sr.%20Cristian%20Caballero" class="fa fa-envelope wow fadeIn" data-wow-delay="0.3s"></a></li>
                            <li><a href="#" class="fa fa-facebook wow fadeIn" data-wow-delay="0.6s"></a></li>
                            <li><a href="#" class="fa fa-twitter wow fadeIn" data-wow-delay="0.9s"></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 wow fadeIn" data-wow-delay="1.3s">
                <div class="team-wrapper">
                    <img src="~/fotos/administracion.jpg" class="img-responsive" alt="team img" width="250">
                    <div class="team-des">
                        <h4>Cynthia Riveros</h4>
                        <h3>Administradora</h3>
                        <ul class="social-icon">
                            <li><a href="mailto:administracion@negoservi.com.py?Subject=Buenas%20Sra.%20Cynthia%20Riveros" class="fa fa-envelope wow fadeIn" data-wow-delay="0.3s"></a></li>
                            <li><a href="#" class="fa fa-facebook wow fadeIn" data-wow-delay="0.6s"></a></li>
                            <li><a href="#" class="fa fa-twitter wow fadeIn" data-wow-delay="0.9s"></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 wow fadeIn" data-wow-delay="1.6s">
                <div class="team-wrapper">
                    <img src="~/fotos/judiciales.jpg" class="img-responsive" alt="team img" width="250">
                    <div class="team-des">
                        <h4>Rodolfo Sanchez</h4>
                        <h3>Judiciales</h3>
                        <ul class="social-icon">
                            <li><a href="mailto:judiciales@negoservi.com.py?Subject=Buenas%20Sr.%20Rodolfo%20Sanchez" class="fa fa-envelope wow fadeIn" data-wow-delay="0.3s"></a></li>
                            <li><a href="#" class="fa fa-facebook wow fadeIn" data-wow-delay="0.6s"></a></li>
                            <li><a href="#" class="fa fa-twitter wow fadeIn" data-wow-delay="0.9s"></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 wow fadeIn" data-wow-delay="1.6s">
                <div class="team-wrapper">
                    <img src="~/fotos/contabilidad.jpg" class="img-responsive" alt="team img" width="250">
                    <div class="team-des">
                        <h4>Cesar Fleitas</h4>
                        <h3>Contador</h3>
                        <ul class="social-icon">
                            <li><a href="mailto:contabilidad@negoservi.com.py?Subject=Buenas%20Sr.%20Cesar%20Fleitas" class="fa fa-envelope wow fadeIn" data-wow-delay="0.3s"></a></li>
                            <li><a href="#" class="fa fa-facebook wow fadeIn" data-wow-delay="0.6s"></a></li>
                            <li><a href="#" class="fa fa-twitter wow fadeIn" data-wow-delay="0.9s"></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 wow fadeIn" data-wow-delay="1.6s">
                <div class="team-wrapper">
                    <img src="~/fotos/recursos humanos.jpg" class="img-responsive" alt="team img" width="250">
                    <div class="team-des">
                        <h4>Fatima Gonzalez</h4>
                        <h3>Talento Humano</h3>
                        <ul class="social-icon">
                            <li><a href="mailto:fatimagonzalez@negoservi.com.py?Subject=Buenas%20Sra.%20Fatima%20Gonzalez" class="fa fa-envelope wow fadeIn" data-wow-delay="0.3s"></a></li>
                            <li><a href="#" class="fa fa-facebook wow fadeIn" data-wow-delay="0.6s"></a></li>
                            <li><a href="#" class="fa fa-twitter wow fadeIn" data-wow-delay="0.9s"></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 wow fadeIn" data-wow-delay="1.6s">
                <div class="team-wrapper">
                    <img src="~/fotos/Henry-Cavill-Build-Pc-Video.jpg" class="img-responsive" alt="team img" width="250">
                    <div class="team-des">
                        <h4>Victo Maldonado</h4>
                        <h3>Informática</h3>
                        <ul class="social-icon">
                            <li><a href="mailto:informatica@negoservi.com.py?Subject=Buenas%20Sr.%20Victor%20Maldonado" class="fa fa-envelope wow fadeIn" data-wow-delay="0.3s"></a></li>
                            <li><a href="#" class="fa fa-facebook wow fadeIn" data-wow-delay="0.6s"></a></li>
                            <li><a href="#" class="fa fa-twitter wow fadeIn" data-wow-delay="0.9s"></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Portafolio section -->
<div id="portfolio">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <div class="section-title">
                    @*<strong>04</strong>*@
                    <h1 class="heading bold">POTAFOLIO</h1>
                    <hr>
                </div>
                <!-- ISO section -->
                <div class="iso-section">
                    <ul class="filter-wrapper clearfix">
                        <li><a href="#" data-filter="*" class="selected opc-main-bg">All</a></li>
                        <li><a href="#" class="opc-main-bg" data-filter=".html">HTML</a></li>
                        <li><a href="#" class="opc-main-bg" data-filter=".photoshop">Photoshop</a></li>
                        <li><a href="#" class="opc-main-bg" data-filter=".wordpress">Wordpress</a></li>
                        <li><a href="#" class="opc-main-bg" data-filter=".mobile">Mobile</a></li>
                    </ul>
                    <div class="iso-box-section wow fadeIn" data-wow-delay="0.9s">
                        <div class="iso-box-wrapper col4-iso-box">

                            <div class="iso-box html wordpress mobile col-lg-4 col-md-4 col-sm-6">
                                <a href="images/portfolio-img1.jpg" data-lightbox-gallery="portfolio-gallery"><img src="~/images/portfolio-img1.jpg" alt="portfolio img"></a>
                            </div>

                            <div class="iso-box wordpress col-lg-4 col-md-4 col-sm-6">
                                <a href="images/portfolio-img2.jpg" data-lightbox-gallery="portfolio-gallery"><img src="~/images/portfolio-img2.jpg" alt="portfolio img"></a>
                            </div>

                            <div class="iso-box html mobile col-lg-4 col-md-4 col-sm-6">
                                <a href="images/portfolio-img3.jpg" data-lightbox-gallery="portfolio-gallery"><img src="~/images/portfolio-img3.jpg" alt="portfolio img"></a>
                            </div>

                            <div class="iso-box wordpress col-lg-4 col-md-4 col-sm-6">
                                <a href="images/portfolio-img4.jpg" data-lightbox-gallery="portfolio-gallery"><img src="~/images/portfolio-img4.jpg" alt="portfolio img"></a>
                            </div>

                            <div class="iso-box html photoshop col-lg-4 col-md-4 col-sm-6">
                                <a href="images/portfolio-img5.jpg" data-lightbox-gallery="portfolio-gallery"><img src="~/images/portfolio-img5.jpg" alt="portfolio img"></a>
                            </div>

                            <div class="iso-box photoshop col-lg-4 col-md-4 col-sm-6">
                                <a href="images/portfolio-img6.jpg" data-lightbox-gallery="portfolio-gallery"><img src="~/images/portfolio-img6.jpg" alt="portfolio img"></a>
                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<!-- Precio section -->
<section id="pricing">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 text-center">
                <div class="section-title">
                    @*<strong>05</strong>*@
                    <h1 class="heading bold">PRECIOS</h1>
                    <hr>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="plan plan-one wow bounceIn" data-wow-delay="0.3s">
                    <div class="plan_title">
                        <i class="icon-mobile medium-icon"></i>
                        <h3>BASIC</h3>
                        <h2>$150 <span>per year</span></h2>
                    </div>
                    <ul>
                        <li>100 GB Cloud Storage</li>
                        <li>5 Pro Websites</li>
                        <li>10 Secured Emails</li>
                        <li>24-hour Support</li>
                    </ul>
                    <button class="btn btn-warning">Get it now</button>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="plan plan-two wow bounceIn" data-wow-delay="0.3s">
                    <div class="plan_title">
                        <i class="icon-desktop medium-icon"></i>
                        <h3>BUSINESS</h3>
                        <h2>$260 <span>per year</span></h2>
                    </div>
                    <ul>
                        <li>200 GB Cloud Storage</li>
                        <li>10 Pro Websites</li>
                        <li>20 Secured Emails</li>
                        <li>30-Minute Support</li>
                    </ul>
                    <button class="btn btn-warning">Take this!</button>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="plan plan-three wow bounceIn" data-wow-delay="0.3s">
                    <div class="plan_title">
                        <i class="icon-cloud medium-icon"></i>
                        <h3>PROFESSIONAL</h3>
                        <h2>$380 <span>per year</span></h2>
                    </div>
                    <ul>
                        <li>500 GB Cloud Storage</li>
                        <li>20 Pro Websites</li>
                        <li>40 Secured Emails</li>
                        <li>Live Support</li>
                    </ul>
                    <button class="btn btn-warning">Buy Now</button>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Contactanos section -->
<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 text-center">
                <div class="section-title">
                    @*<strong>06</strong>*@
                    <h1 class="heading bold">CONTACTANOS</h1>
                    <hr>
                </div>
            </div>
            <div class="col-md-6 col-sm-12 contact-info">
                <h2 class="heading bold">DATOS DE CONTACTO</h2>
                <p>Al proveer sus datos nos estaremos contactando con usted o bien puede contactarse con nosotros por email o telefono citado mas abajo</p>
                <div class="col-md-6 col-sm-4">
                    <h3><i class="icon-envelope medium-icon wow bounceIn" data-wow-delay="0.6s"></i> EMAIL</h3>
                    <p>negociosyservicios@negoservi.com.py</p>
                </div>
                <div class="col-md-6 col-sm-4">
                    <h3><i class="icon-phone medium-icon wow bounceIn" data-wow-delay="0.6s"></i> TELEFONO</h3>
                    <p>021 419 6000</p>
                </div>
                <!--Google map-->
                <div id="map-container-google-1" class="z-depth-1-half map-container" style="height: 500px">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d450.96106667129897!2d-57.638268!3d-25.281061!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x4ad62b63408e48c3!2sNegocios%20Y%20Servicios!5e0!3m2!1ses-419!2sus!4v1639745046307!5m2!1ses-419!2sus" width="400" height="200" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                </div>
            </div>
            <div class="col-md-6 col-sm-12">
                <form action="#" method="get" class="wow fadeInUp" data-wow-delay="0.6s">
                    <div class="col-md-6 col-sm-6">
                        <input type="text" class="form-control" placeholder="Nombre" name="name">
                    </div>
                    <div class="col-md-6 col-sm-6">
                        <input type="email" class="form-control" placeholder="Email" name="email">
                    </div>
                    <div class="col-md-12 col-sm-12">
                        <textarea class="form-control" placeholder="Mensaje" rows="7" name="mensaje"></textarea>
                    </div>
                    <div class="col-md-offset-4 col-md-8 col-sm-offset-4 col-sm-8">
                        <input type="submit" class="form-control" value="Enviar Correo">
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
